* {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: #a6fff9;
}

#imgs {
    /* to prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 2;
    
    -webkit-column-gap: 0;

    -moz-column-count: 2;
    
    -moz-column-gap: 0;
    
    column-count: 2;
    
    column-gap: 0;
}

#imgs img {
    width: 100%;
    height: auto;
    border: 1rem solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.header {
    border: 1rem solid black;
    border-bottom: none;
    margin:auto;
    height: auto;
}

.header > a {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: rgb(3, 159, 171);
    display: inline-flex;
    justify-content: space-between;
}

.nav {
    border: 1rem solid black;
    border-top: none;
}

.nav > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1rem solid black;
    border-top: none;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

img.me {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 1rem solid black;
    border-left: none;
    border-top: none;
    border-bottom: none;
    position: relative;
    flex-shrink: -1;
}

.bio > span > a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding-left: .5rem;
    position: relative;
    top: -1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
}

.bio > img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    border: 1rem solid black;
    border-bottom: 1rem solid;
    margin-bottom: 1rem;
    padding: 0;
}

@media screen and (max-width: 400px) {
    .bio > img {
        width: 100%;
        height: auto;
        font-size: .5rem;
    }

    .bio {
        width: 90%;
    }

    #imgs {
    /* to prevent vertical gaps */
    line-height: 0 !important;

    -webkit-column-count: 1;
    
    -webkit-column-gap: 0;

    -moz-column-count: 1;
    
    -moz-column-gap: 0;
    
    column-count: 1;
    
    column-gap: 0;
}

#imgs img {
    width: 100% !important;
    height: auto !important;
    border: 1rem solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.img-link {
    height: auto;
    line-height: 0;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

}

.bio-title {
    width: 80%;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
    padding: .5rem;
    padding-top: 2rem;
    justify-content: left !important;
}

.bio-body {
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    text-align: left;
    tab-size: 2rem;
}

.bio-link {
    display: flex;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: .5rem;
    flex-wrap: wrap;
    flex-shrink: 1;
}


.header {
    padding: .5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    border: 1rem solid black;
    border-right: 0;
    border-left: 0;
    border-top: none;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* #cf {
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
} */

