* {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: #a6fff9;
}

#title {
    color: black;
    font-size: 4rem !important;
    font-weight: bold;
    letter-spacing: .2rem;
}

#imgs {
    /* to prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 2;
    
    -webkit-column-gap: 0;

    -moz-column-count: 2;
    
    -moz-column-gap: 0;
    
    column-count: 2;
    
    column-gap: 0;

    border: solid black 1rem;
}

#imgs img {
    width: 100%;
    height: auto;
}


.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1rem solid black;
    border-bottom: none;
    height: auto;
    margin: 0 auto;
}

.header > a {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: transparent;
    font-size: 5rem !important;
    -webkit-text-stroke: 2px rgba(255, 38, 0, 0.913);
    text-shadow: 1px 0px 1px rgba(255, 53, 53, 0.788);
    font-weight: bold;
    display: flex;
    flex-direction: row
}

.bio-link {
    justify-content: center;
}

.nav {
    
}

.nav > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border-top: none;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

img.me {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 1rem solid black;
    border-left: none;
    border-top: none;
    border-bottom: none;
    position: relative;
    flex-shrink: -1;
}

.bio > span > a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding-left: .5rem;
    position: relative;
    top: -1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
}

.bio > img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 100%;
    height: auto;

}

@media screen and (max-width: 400px) {
    body {
        width: 100%;
    }

    .bio > img {
        
        font-size: .5rem;
    }


    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



#imgs {
    /* to prevent vertical gaps */
    line-height: 0 !important;

    -webkit-column-count: 1;
    
    -webkit-column-gap: 0;

    -moz-column-count: 1;
    
    -moz-column-gap: 0;
    
    column-count: 1;
    
    column-gap: 0;

    border: solid black 1rem;
    

    }


.img-link {
    width: 100%;
    height: auto;
    background-color: #000000;
}

.about-me {
    grid-template-columns: 1fr !important;
}

.bio-title {
    padding: 0 !important;
    margin: 0 auto !important;
}

img.me {
    border-bottom: 1rem solid black;
}

.header > a.bio-link {
    font-size: 1.5rem !important;
    font-weight: 700;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 38, 0, 0.913);
    text-shadow: 1px 0px 1px rgba(255, 53, 53, 0.788);
    font-weight: bold;
}

.back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    padding-left: 1rem;
    margin-right: -.5rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 1.5rem;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 38, 0, 0.913);
    text-shadow: 1px 0px 1px rgba(255, 53, 53, 0.788);
    font-weight: bold;
    animation-name: back-to-top;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

@keyframes back-to-top {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 2px); }
    100%   { transform: translate(0, -0px); }   
}

.back-to-top:active {
  
}


}

/*//////////////////////////////////////////////////////////////////////////////*/

.bio-title {
    width: 80%;
    color: transparent;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 5rem;
    padding: 0rem;
    padding-top: 2rem;
    justify-content: left !important;
    color: rgb(0, 0, 0)
}

.bio-body {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    margin: auto 0rem;
    margin-bottom: 1rem;
    width: 90%;
    padding-left: .2rem;
    text-align: justify;
    border: .3rem solid black;  
    border-top: 0;
    border-right: none;
    border-bottom: none;
}

.bio-link {
    display: flex;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: .5rem;
    flex-wrap: wrap;
}


.gallery {
    display: grid;
    grid-template-columns: 1fr;
}


.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    border: 1rem solid black;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.about-me > span {
    margin-top: 5rem;
}

/* #cf {
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
} */

