* {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: #a6fff9;
}

#imgs {
    /* to prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-count: 2;
    -moz-column-gap: 0;
    column-count: 2;
    column-gap: 0;
}

#imgs img {
    width: 100% !important;
    height: auto !important;
    border: 1rem solid black
}

.header {
    border: 1rem solid black;
    border-bottom: none;
}

.header > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.nav {
    border: 1rem solid black;
    border-top: none;
}

.nav > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}