.card {
    display: grid !important;
    margin: auto;
    border-radius: 1rem !important;
    border: none !important;
}

.bio-card--wrapper {
    display: inherit;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr !important;
    grid-gap: 0rem;
    padding: 0rem;
    margin: 0rem;
}

.bio-card--title {
    font-size: 1.5rem !important;
    letter-spacing: .5rem !important;
    font-weight: 900 !important;
    color: #fff !important;
    text-shadow: 1px 0px 1px rgba(77, 255, 0, 0.605);
    text-align: center;
}

.bio-card {
    background: linear-gradient(-190deg, #080909 0%, rgb(26, 27, 28), #202224 100%) !important;
}

.bio-card--text {
    border-left: .1rem solid  #319128 !important;
    background: linear-gradient(190deg, #17191a 0%, rgb(21, 22, 22), #17191a 100%) !important;
    grid-area: 'b';
    padding: 1rem;
    margin: auto;
    color: rgb(220, 216, 201);
    font-size: 1.2rem;
    font-weight: 300;
    text-shadow: 0px 0px 2px rgba(77, 255, 0, 0.103);
    text-indent: 4rem !important;
}