* {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-title-link {
    font-weight: 900;
    font-size: 2rem !important;
    color: transparent;
    text-decoration: none;
    -webkit-text-stroke: 1px rgb(13, 255, 0);
    text-shadow: .5px 0px 0px rgba(162, 213, 155, 0);
    transition: text-shadow 0.1s ease-in-out;
}

.nav-title-link:hover {
    color:rgba(29, 255, 37, 0);
    text-shadow: 0px 0rem 0rem rgb(45, 232, 8) !important;
}


.nav-link {
    font-size: 1.2rem !important;
    color: none;
    text-decoration: none;
    -webkit-text-stroke: 1px rgb(11, 237, 11);
    text-shadow: 1px 0px 1px rgba(77, 255, 0, 0.605);
    
}

.nav-link:hover {
    color:rgb(29, 255, 37);
    -webkit-text-stroke: 1px rgb(255, 251, 29);
}

.nb {
    background-color: rgb(0, 0, 0) !important;
    border-bottom: .5rem groove rgb(39, 77, 51) !important;
}

.cursor {
    -webkit-text-stroke: 1px rgba(0, 255, 0, 0);
    text-shadow: .5px 0px 0px rgba(30, 255, 0, 0);
    animation: cursor 1s linear infinite;
}

@keyframes cursor {
    0% {
       color: transparent;
    }
    50% {
        -webkit-text-stroke: 5px rgba(0, 255, 0, 0.719);  
    }
    100% {
       -webkit-text-stroke: 1px rgb(86, 255, 29);
    }
}
